* {
    box-sizing: border-box;
}

body {
    font-family:'Verdana';
    margin:16px;
}

/* Add Fencer Form */

#form_container {
    position:absolute;
    z-index:0;
}

#form_body {
    width:300px;
    background-color:#edf1ff;
    padding:10px;
    border-radius: 0px 0px 10px 10px;
}

#form_containerheader {
    background-color:#295eff;
    width:100%;
    height:30px;
    border-radius: 10px 10px 0px 0px;
    text-align:center;
    align-content: center;
    color:white;
}

label {
    color: #12664F;
    font-weight:bold;
}

input {
    width:100%;
    background-color:#00000010;
    padding:6px 10px;
    margin:6px 0px 10px;
    border-radius: 6px;
    border-width:1px;
    display:inline-block;
    outline:none;
}

input:hover, input:focus {
    background-color:white;
}

button {
    background-color: #12664F;
    color:white;
    border-radius:12px;
    width:60%;
    transition: width 0.2s;
    height:40px;
    border:none;
}

button:hover {
    background-color: #419e85;
    cursor:pointer;
    width:80%;
    transition: width 0.5s;
}

/* Nav */

#nav {
    display: flex;
    flex-direction: row;
    width:100%;
}

button.nav {
    width:100%;
}

button.nav:hover {  
    cursor:pointer;
}



/* Fencers List */

#fencersList_container {
    position:absolute;
    z-index:0;
}

#fencersList_body {
    width:300px;
    background-color:#edf1ff;
    padding:10px;
    border-radius: 0px 0px 10px 10px;
}

#fencersList_containerheader {
    background-color:#295eff;
    width:100%;
    height:30px;
    border-radius: 10px 10px 0px 0px;
    text-align:center;
    align-content: center;
    color:white;
}

/* Bouts List */

#boutsList_container {
    position:absolute;
    z-index:0;
}

#boutsList_body {
    width:300px;
    background-color:#edf1ff;
    padding:10px;
    border-radius: 0px 0px 10px 10px;
}

#boutsList_containerheader {
    background-color:#295eff;
    width:100%;
    height:30px;
    border-radius: 10px 10px 0px 0px;
    text-align:center;
    align-content: center;
    color:white;
}

/* Fencer Details */

#fencerDetails_container {
    position:absolute;
    z-index:0;
}

#fencerDetails_body {
    width:300px;
    background-color:#edf1ff;
    padding:10px;
    border-radius: 0px 0px 10px 10px;
}

#fencerDetails_containerheader {
    background-color:#295eff;
    width:100%;
    height:30px;
    border-radius: 10px 10px 0px 0px;
    text-align:center;
    align-content: center;
    color:white;
}