/* Defining colours to be reused */
:root {
    --header:#295eff;
    --body:#edf1ff;
    --background:white;
    --buttonNorm:#12664F;
    --buttonHover:#419e85;
    --link:rgb(26, 13, 171);
    --pageHeader:#beffcf;
}

/* Ensures proper scaling of objects when using % width */
* {
    box-sizing: border-box;
}

body {
    font-family:'Verdana';
    margin:0;
}

header {
    background-color:var(--pageHeader);
    text-align:left;
    display:flex;
    align-items:center;
    padding:10px;
}

#logo { /* logo image */
    height:40px;
    width:40px;
}

main {
    margin:16px;
}

.container {
    position:absolute;
    z-index:0;
}

.body {
    width:300px;
    background-color:var(--body);
    padding:10px;
    border-radius: 0px 0px 10px 10px;
    overflow:hidden; /* Cuts off overflowing text at the end of the div */
    word-break:break-all; /* Allows words to be cut in half to overflow to the next line */
}

#fencersList_body {
    white-space: nowrap; /* Prevents names from going over two lines */
    text-overflow: ellipsis; /* Makes the end of overflowing names '...' */
}

.containerheader {
    background-color:var(--header);
    width:100%;
    height:30px;
    border-radius: 10px 10px 0px 0px;
    text-align:center;
    align-content: center;
    color:white;
}

/* Add Fencer Form */

label {
    color: var(--buttonNorm);
    font-weight:bold;
}

input {
    width:100%;
    background-color:#00000010;
    padding:6px 10px;
    margin:6px 0px 10px;
    border-radius: 6px;
    border-width:1px;
    display:inline-block;
    outline:none;
}

input:hover, input:focus {
    background-color:white;
}

button {
    background-color: var(--buttonNorm);
    color:white;
    border-radius:12px;
    width:60%;
    transition: width 0.2s;
    height:40px;
    border:none;
}

button:hover {
    background-color: var(--buttonHover);
    cursor:pointer;
    width:80%;
    transition: width 0.5s;
}

/* Nav */

#nav {
    display: flex;
    flex-direction: row;
    width:100%;
}

button.nav {
    width:100%;
}

button.nav:hover {  
    cursor:pointer;
}

/* Removes the change in link colour on click, and customises link appearance */
a:link, a:visited {
    text-decoration:none;
    color:var(--link);
}

/* Underline appears when hovering over link */
a:hover {
    text-decoration:underline;
}